<div class="container"></div>

<div class="bg-light p-5 text-center">
    <h2>Created by wanni2</h2>
    <h5>📞010-2222-7777</h5>
    <button class="btn btn-primary">고객센터</button>
    <button class="btn btn-success">오시는길</button>
</div>
</body>

</html>